.footer {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 8px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  z-index: 999;
  
}

.footer div {
  margin: 3px 0;
}

.footerText {
  margin: 0;
  font-size: 15px;
  color: rgba(255, 255, 255, 10);
}

@media (max-width: 1200px) {
  .footerText {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .footerText {
    font-size: 12px;
  }
  
  .footer {
    padding: 10px;
    gap: 5px;
    background: rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 480px) {
  .footerText {
    font-size: 9px;
  }
  
  .footer {
    padding: 4px;
  }
}
