.nav {
  background: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}
